.nav-link.active {
  background-color: #f05238
}

.navbar-toggleable {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($next) {
      .navbar-nav {
        .nav-link {
          padding-right: 1.2rem;
          padding-left: 1.2rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .navbar-brand {
    margin-left: 2rem;
  }
}
@include media-breakpoint-up(md) {
  .navbar-brand {
    margin-left: 10%;
  }
}